@using Microsoft.AspNetCore.Identity
@using Quizadilla.Areas.Identity.Data

@inject SignInManager<QuizadillaUser> SignInManager
@inject UserManager<QuizadillaUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a class="d-block text-dark">Hello @UserManager.GetUserName(User)!</a>
    </li>

    <li>
        <a class="d-block sidebar-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">• Settings</a>
    </li>

    <li>
        <form asp-area="Identity"
              asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
              method="post">
            <button type="submit"
                    class="nav-link btn btn-link text-dark border-0 sidebar-item hover">
                • Logout
            </button>
            
        </form>
    </li>

    <li>
        <a class="d-block" asp-controller="Quiz" asp-action="MyQuizzes">
            My Quizzes
        </a>
    </li>

}
else
{
    <li>
        <a class="d-block" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>

    <li>
        <a class="d-block" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
}
