@using Microsoft.AspNetCore.Identity
@using Quizadilla.Areas.Identity.Data

@inject SignInManager<QuizadillaUser> SignInManager
@inject UserManager<QuizadillaUser> UserManager

<ul class="dropdown-menu dropdown-menu-end custom-navbar-footer" aria-labelledby="accountDropdown">
@if (SignInManager.IsSignedIn(User))
{
    <li>
            <a class="dropdown-item" id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
            <form class="dropdown-item" id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
    <li>
        <a class="dropdown-item" id="myQuizzes" asp-controller="Quiz" asp-action="MyQuizzes">My Quizzes</a> 
    </li>
}
else
{
    <li>
            <a class="dropdown-item" class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
            <a class="dropdown-item" class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
