@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="dropdown me-3">
    <a href="#" class="text-dark fs-4 person-icon dropdown-toggle" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end custom-navbar-footer" aria-labelledby="accountDropdown">
        <li><a class="dropdown-item" href="/Identity/Account/Login">Login</a></li>
        <li><a class="dropdown-item" href="/Identity/Account/Register">Register</a></li>
        <li><a class="dropdown-item" href="/Identity/Account/Logout">Logout/Login</a></li>
    </ul>
</div>