@{
    ViewData["Title"] = "Home";
}

<div class="text-left mt-1 ms-1">
    <h1 class="display-2">Welcome to Quizadilla</h1>
    <p class="lead ms-5 display-5">Your home for quizzes</p>
</div>
<div class="text-center">
    <div class="text-left">
        <img src="~/img/ChatGPT-Logo.svg" alt="logo" width="300" class="mt-5">
    </div>
    <h1>We have quizzes for everyone!</h1>
    <p>Join us and test your knowledge!</p> 
</div>
